<!DOCTYPE html>
<html>
<head>
<title>NoteKeeper-Login</title>
</head>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'notes/login.css' %}"
<body>

{% if next %}
  {% if user.is_authenticated %}
  <p>You do not have permission to see this page.</p>
  {% else %}
  <p>Please login to see this page</p>
  {% endif %}
{% endif %}
{% if user.is_authenticated %}
You are already logged in as {{ request.user }}. <a href='{% url 'logout' %}'>Logout</a> first to login from a different account.
{% else %}
{{form.non_field_errors.as_text}}
<div><span>Sign in to NoteKeeper</span><br><br>
<form method='POST' action="{% url 'login' %}">
{% csrf_token %}
Username<br>
{{form.username}}<br>
Password<br>
{{form.password}}<br>
<input class="btn" type ="submit" value="Login">
<input type="hidden" name ="next" value="{{ next }}">
</form>
</div>
{% endif%}
</body>
</html>
