body{
background-color:#f8f8f8;
font-family:Verdana;
}

span{
font-size:25px;
}

div{
margin:auto;
width:280px;
margin-top:200px;
line-height:30px;
}

.btn{
background-color:#33ad29;
color:white;
margin-top:15px;
width:245px;
height:30px;
border:0px;
border-radius:5px;
}

.btn:hover{
cursor:pointer;
background-color:#328926
}
