.sidebar{
  margin-top:43px;
  width: 240px;
  height: 100%;
  background-color:#405696;
  position: fixed;
  z-index:1;
  top:0;
  left:0;
}

.sidebar span{
color:white;
margin-bottom:20px;
}

span{
margin-left:15px;
margin-bottom:15px;
font-size:25px;
}

div hr{
margin:0px;
height:2px;
background-color:#ff9900;
border:0px;
width:248px;
position:relative;
left:-8px;
}

.list{
line-height:30px;
padding-left:20px;
color:white;
}

.list:hover{
background-color:#ff9900;
cursor:pointer;
}

.show{
color:white;
}

.main{
margin:0px;
margin-left:240px;
padding:0px;
margin-top:40px;
}

body{
background-color:#f8f8f8;
margin:0px;
font-family:Verdana;
}

a{
text-decoration:none;
}

#nav1{
background-color:#405696;
height:35px;
width:100%;
position:fixed;
top:0;
z-index:1;
margin:0px;
border:0px;
}

#nav{
position:fixed;
top:35px;
width:100%;
background-color:white;
height:4px;
border:0px;
margin:0px;
}

#nav2{
width:100%;
position:fixed;
top:39px;
background-color:#405696;
height:4px;
margin:0px;
border:0px;
}


.heading{
font-size:35px;
font-weight:bold;
}

.logout{
margin-left:8px;
color:white;
}

.logout a{
color:red;
}

.note{
width:400px;
margin: 100px auto;
background-color:lightblue;
}

#entry{
border:0px;
width:370px;
margin-left:15px;
height:30px;
background-color:#daeaea;
}


#content{
border:0px;
width:370px;
margin-left:15px;
margin-top:5px;
background-color:#daeaea;
height:200px;
font-size:14px;
}

.btn{
width:100px;
margin-left:150px;
border:0px;
height:25px;
position:relative;
top:-7px;
}

.btn:hover{
cursor:pointer;
background-color:#8db0dd;
}
