body{
font-family:Verdana;
background-color:#f8f8f8;
}

div{
line-height:30px;
margin:auto;
width:280px;
}

span{
font-size:23px;
}

.btn{
background-color:#33ad29;
color:white;
margin-top:15px;
width:245px;
height:30px;
border:0px;
border-radius:5px;
}

.btn:hover{
cursor:pointer;
background-color:#328926
}
