body{
background-color:#f8f8f8;
font-family:Verdana;
text-align:center;
}

span{
font-size:35px;
}

div{
width:300px
text-align:center;
}

p{
font-size:20px;
}

.btn{
font-size:16px;
color:white;
background-color:#34c120;
width:200px;
height:30px;
border:0px;
border-radius:3px;
}

.btn:hover{
cursor:pointer;
background-color:#279b17;
}


