<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>NoteKeeper</title>{% endblock %}
    {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'notes/notes.css'%}">
    <script src="{% static 'notes/notes.js'%}"></script>
  </head>
  <body>

    {% block sidebar %}
    <hr id="nav1">
    <hr id="nav">
    <hr id="nav2">
    <div class="sidebar">
      <span>All Todos</span>
        {% for task in tasks %}
        <hr><div class="list" onclick="show('{{task.get_absolute_url}}')">{{ task.title }}</a></div>
        {% endfor %}
      
      <hr><br><div class="logout">
       Logged in as {{user}}<br>
      <a href ="{% url 'logout' %}">Logout</a>
    </div></div>
    {% endblock %}
    
    {% block content %}{% endblock %}
  </body>
</html>
